span {
    padding-right: 0.5em;
}
.login-box, .create-account-box {
    width: 25%;
    border: 1px solid;
    padding: 1em;
    font-size: 14px;
}
.create-account-box {
    text-align: left;
}
.login-box__input-bar {
    width: 96%;
    margin-top: 1em;
    padding-left: 0.5em;
    font-style: italic;
}
.login-box__button, .create-account-box__button .login-box__password-link  {
    margin: 3em 0em 2em;
    width: 100%;
    cursor: pointer;
}
.error {
    color: red;
}