span {
    padding-right: 0.5em;
}
.my-account__login-box, .my-account__create-box {
    width: 25%;
    border: 1px solid;
    padding: 1em;
    font-size: 14px;
}
.my-account__create-box {
    text-align: left;
}
.my-account__input-bar {
    width: 96%;
    margin-top: 1em;
    padding-left: 0.5em;
    font-style: italic;
}
.my-account__button, .my-account__password-link  {
    margin: 3em 0em 2em;
    width: 100%;
    cursor: pointer;
}
.error {
    color: red;
}